{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Editer un élève</h1>

    {{ form_start(edit_form) }}
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(edit_form.nom) }}
                        {{ form_widget(edit_form.nom) }}
                        {{ form_errors(edit_form.nom) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(edit_form.file) }}
                        {{ form_widget(edit_form.file) }}
                        {{ form_errors(edit_form.file) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(edit_form.adresse) }}
                        {{ form_widget(edit_form.adresse) }}
                        {{ form_errors(edit_form.adresse) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(edit_form.cp) }}
                        {{ form_widget(edit_form.cp) }}
                        {{ form_errors(edit_form.cp) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_label(edit_form.ville) }}
                        {{ form_widget(edit_form.ville) }}
                        {{ form_errors(edit_form.ville) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(edit_form.tel) }}
                        {{ form_widget(edit_form.tel) }}
                        {{ form_errors(edit_form.tel) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_label(edit_form.mail) }}
                        {{ form_widget(edit_form.mail) }}
                        {{ form_errors(edit_form.mail) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(edit_form.datenaissance) }}
                        {{ form_widget(edit_form.datenaissance) }}
                        {{ form_errors(edit_form.datenaissance) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_widget(edit_form.promotion) }}
                        {{ form_label(edit_form.promotion) }}
                        {{ form_errors(edit_form.promotion) }}
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(edit_form.archive) }}
                                    {{ form_label(edit_form.archive) }}
                                </label>
                                {{ form_errors(edit_form.archive) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-centre">
        <input class="btn btn-default edit_admin" type="submit" value="Editer" />
    </div>
    {{ form_end(edit_form) }}

    <ul>
        <li class="button-centre">
            <a class="btn btn-default edit_admin"  href="{{ path('eleve_index') }}">Liste des élèves</a>
        </li>
        <li class="button-centre">
            {{ form_start(delete_form) }}
                <input style="margin-top: 1%" class="btn btn-default edit_admin" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

