{% extends 'base.html.twig' %}

{% block body %}
    <h1>eleve list</h1>
    <div class="container">
        <div class="row">
            <div class="col m12">
                {% for eleve in eleves %}
                    <figure>
                        <img src="tigre.jpg" alt="Tigre" width="320" height="240" />
                        <figcaption>
                            <p>{{ eleve.nom }}</p>
                            <p>{{ eleve.tel }}</p>
                            <ul>
                                <li>
                                    <a href="{{ path('eleve_show', { 'id': eleve.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('eleve_edit', { 'id': eleve.id }) }}">edit</a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('promotion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}