{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Création d'un élève</h1>

    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_widget(form.file) }}
                        {{ form_label(form.file) }}
                        {{ form_errors(form.file) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_widget(form.sexe) }}
                        {{ form_errors(form.sexe) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse) }}
                        {{ form_errors(form.adresse) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(form.cp) }}
                        {{ form_widget(form.cp) }}
                        {{ form_errors(form.cp) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_label(form.ville) }}
                        {{ form_widget(form.ville) }}
                        {{ form_errors(form.ville) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(form.tel) }}
                        {{ form_widget(form.tel) }}
                        {{ form_errors(form.tel) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_label(form.mail) }}
                        {{ form_widget(form.mail) }}
                        {{ form_errors(form.mail) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(form.datenaissance) }}
                        {{ form_widget(form.datenaissance) }}
                        {{ form_errors(form.datenaissance) }}
                    </div>

                    <div class="input-field col s6">
                        {{ form_widget(form.etude) }}
                        {{ form_label(form.etude) }}
                        {{ form_errors(form.etude) }}
                    </div>
                    <div class="row-hidden">
                        <div class="input-field col s12">
                            {{ form_widget(form.module) }}
                            {{ form_label(form.module) }}
                            {{ form_errors(form.module) }}
                        </div>
                        <div class="row-hidden">
                            <div class="input-field col s12">
                                {{ form_widget(form.archive) }}
                                {{ form_errors(form.archive) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <p>CV :</p>
                            {{ form_label(form.filecv) }}
                            {{ form_widget(form.filecv) }}
                            {{ form_errors(form.filecv) }}
                        </div>
                        <div class="input-field col s6">
                            <p>CV actif solution :</p>
                            {{ form_label(form.filecva) }}
                            {{ form_widget(form.filecva) }}
                            {{ form_errors(form.filecva) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-centre">
        <input class="btn btn-default edit_admin" type="submit" value="Créer" />
    </div>
    {{ form_end(form) }}

    <ul>
        <li class="button-centre">
            <a class="btn btn-default edit_admin" href="{{ path('eleve_index') }}">Liste des élèves</a>
        </li>
    </ul>
{% endblock %}
