{% extends 'base.html.twig' %}

{% block body %}

    <div class="col s12 m7">
        <h2 class="header">Présentation de l'élève</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ asset('uploads/eleves/') }}{{ eleve.logo }}" alt="img" width="50" height="220" />
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Nom/Prénom  : {{ eleve.nom }}</p>
                    <p>Date de naissance  : {{ eleve.datenaissance|date("d/m/Y") }}</p>
                    <p>Adresse : {{ eleve.adresse }}</p>
                    <p>Code Postal : {{ eleve.cp }}</p>
                    <p>Ville : {{ eleve.ville }}</p>
                    <p>Téléphone : {{ eleve.tel }}</p>
                    <p>Mail : {{ eleve.mail }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ path('eleve_edit', { 'id': eleve.id }) }}">Edit</a>
                    <a href="{{ path('eleve_index') }}">Back to the list</a>
                </div>
            </div>
        </div>
    </div>


    <ul>
        <li>

        </li>
        <li>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
