{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Création du module</h1>

    {{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col m8 offset-m2">
            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                    {{ form_errors(form.nom) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.promotion) }}
                    {{ form_label(form.promotion) }}
                    {{ form_errors(form.promotion) }}
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="button-centre">
        <input class="btn btn-default edit_admin" type="submit" value="Créer" />
    </div>
    {{ form_end(form) }}

    <ul>
        <li class=" button-centre">
            <a class="btn btn-default edit_admin" href="{{ path('module_index') }}">Retourner à la liste des modules</a>
        </li>
    </ul>
{% endblock %}
