{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="container">
    <div class="row">
        <div class="col m8 offset-m2">
            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="input-field col s12">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="button-centre">
        <input class="btn btn-default edit_admin" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
