{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Liste des élèves archivés</h1>
            <div class="container-fluid">
        <div class="row">
            <div class="col m8 offset-m2">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Nom/Prénom</th>
                        <th>Date de naissance</th>
                        <th>N° Téléphone</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for eleve in eleves %}
                        {% if eleve.archive ==true %}
                            <tr>
                            <td><a href="{{ path('archive_index', { 'id': eleve.id })}}"</a>{{ eleve.nom }}</td>
                            <td>{{ eleve.datenaissance|date("d/m/Y") }}</td>
                            <td>0{{ eleve.tel }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('eleve_show', { 'id': eleve.id }) }}">Détails</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('eleve_edit', { 'id': eleve.id }) }}">Editer</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}