{% extends 'base.html.twig' %}

{% block body %}

        <p class="titre">{{ eleve.nom }}</p>

    {{ form_start(form) }}
    <div class="container-fluid">
    <div class="col sm-12">
        <table class="striped highlight">
            <thead>
            <tr>
                <th>Modules
                    {% for i in 1..promotion.semaines %}
                <th style="text-align: center" colspan="2">Semaine {{ i }}</th>
                {% endfor %}
                        <th style="text-align: center">Bilan</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>nom</td>
                {% for i in 1..promotion.semaines %}
                    <td style="text-align: center">tp</td>
                    <td style="text-align: center">cours</td>
                {% endfor %}
                <td></td>
            </tr>
            {% for module in modules %}
            <tr>

                <td style="border-right: 1px solid black">{{ module.nom }}</td>
                    {% if notes is empty %}
                        {% for i in 1..promotion.semaines*2 %}
                            <td style="border-right:1px solid black">
                                <select style="" name="note[]">
                                    <option {% if note.note == 'nd' %} selected="selected"{% endif %} value="nd">ND</option>
                                    <option {% if note.note == 'A' %} selected="selected"{% endif %} value="A">A</option>
                                    <option {% if note.note == 'EA' %} selected="selected"{% endif %} value="EA">EA</option>
                                    <option {% if note.note == 'NA' %} selected="selected"{% endif %} value="NA">NA</option>
                                </select>
                            </td>

                        {% endfor %}
                        {% else %}
                    {% for note in notes %}
                    <td style="border-right:1px solid black">
                        <select style="" name="note[]">
                            <option {% if note.note == 'nd' %} selected="selected"{% endif %} value="nd">ND</option>
                            <option {% if note.note == 'A' %} selected="selected"{% endif %} value="A">A</option>
                            <option {% if note.note == 'EA' %} selected="selected"{% endif %} value="EA">EA</option>
                            <option {% if note.note == 'NA' %} selected="selected"{% endif %} value="NA">NA</option>
                        </select>
                    </td>

                    {% endfor %}
                    {% endif %}


                <td style="border-right:1px solid black">
                    <select name="note[]">
                        <option value="and">ND</option>
                        <option value="A">A</option>
                        <option value="EA">EA</option>
                        <option value="NA">NA</option>
                    </select>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_granted("ROLE_USER") %}
    <h1>Commentaire creation</h1>
        <div class="row">
            <div class="col m8">
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_widget(form.commentaire) }}
                        {{ form_label(form.commentaire) }}
                        {{ form_errors(form.commentaire) }}
                    </div>
                </div>
                <input type="submit" value="Create" />
            </div>
        </div>
    </div>
    {% endif %}
    <div style="margin-top: 50px"></div>
    <div class="button-centre">
        <input class="btn btn-default edit_admin" type="submit" value="Valider" />
    </div>
    {{ form_end(form) }}
{% endblock %}