{% extends 'base.html.twig' %}

{% block body %}

        <img style="position: absolute; left: 10px; width: 245px; height: 220px; top: 80px;" src="{{ asset('uploads/eleves/') }}{{ eleve.logo }}" alt="img" />
        <p class="titre">{{ eleve.nom }}</p>
        <ul style="position: absolute ;right: 10px; top: 10%">
        <li style="border: 1px solid black; width: 200px; text-align: center;">ND : Non Défini</li>
        <li style="border: 1px solid black; width: 200px; text-align: center;">A : Acquis</li>
        <li style="border: 1px solid black; width: 200px; text-align: center;">EA : En cours d'acquisition</li>
        <li style="border: 1px solid black; width: 200px; text-align: center;">NA : Non Acquis</li>
        </ul>

    <div style="margin-bottom: 160px">
        <p></p>
    </div>
    {{ form_start(form) }}
    <div class="container-fluid">
    <div class="col s12">
        <table class="striped highlight">
            <thead>
            <tr>
                <th>Modules
                    {% for i in 1..promotion.semaines %}
                <th style="text-align: center" colspan="2">Semaine {{ i }}</th>
                {% endfor %}
                        <th style="text-align: center">Bilan</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>nom</td>
                {% for i in 1..promotion.semaines %}
                    <td style="text-align: center">tp</td>
                    <td style="text-align: center">cours</td>
                {% endfor %}
                <td></td>
            </tr>
            {% for module in modules %}
                <tr>

                    <td style="border-right: 1px solid black">{{ module.nom }}</td>
                    {% if notes is empty %}
                        {% for i in 1..promotion.semaines*2+1 %}

                                <td style="border-right:1px solid black">
                                    <select style="" name="note[]">
                                        <option {% if note.note == 'nd' %} selected="selected"{% endif %} value="nd">ND</option>
                                        <option {% if note.note == 'A' %} selected="selected"{% endif %} value="A">A</option>
                                        <option {% if note.note == 'EA' %} selected="selected"{% endif %} value="EA">EA</option>
                                        <option {% if note.note == 'NA' %} selected="selected"{% endif %} value="NA">NA</option>
                                    </select>
                                </td>


                        {% endfor %}
                    {% endif %}
                    {% if notes %}
                        {% for note in notes %}
                            {% if note.module.id == module.id %}
                                <td style="border-right:1px solid black">
                                    <select style="" name="note[]">
                                        <option {% if note.note == 'nd' %} selected="selected"{% endif %} value="nd">ND</option>
                                        <option {% if note.note == 'A' %} selected="selected"{% endif %} value="A">A</option>
                                        <option {% if note.note == 'EA' %} selected="selected"{% endif %} value="EA">EA</option>
                                        <option {% if note.note == 'NA' %} selected="selected"{% endif %} value="NA">NA</option>
                                    </select>
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#{% if is_granted("ROLE_USER") %}#}
    <div class="container-fluid">
        <div class="row">

                <h1>Commentaire creation</h1>
                {% if commentaires is empty %}
                 <div class="col s6">
                    <textarea name="commentaire[]"></textarea>
                 </div>
                    <div class="col s6">
                        <textarea name="commentaire[]"></textarea>
                    </div>
                {% endif %}
                {% if commentaires %}
                    {% for commentaire in commentaires %}
                        <div class="col s6">
                            <textarea name="commentaire[]">{{ commentaire.message }}</textarea>
                        </div>
                    {% endfor %}
                {% endif %}

        </div>
    </div>
    {#{% endif %}#}
    <div style="margin-top: 50px"></div>
    <div class="button-centre">
        <input class="btn btn-default edit_admin" type="submit" value="Valider" />
    </div>
    {{ form_end(form) }}
{% endblock %}