{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Editer la promotion</h1>

    {{ form_start(edit_form) }}
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(edit_form.titre) }}
                        {{ form_widget(edit_form.titre) }}
                        {{ form_errors(edit_form.titre) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(edit_form.file) }}
                        {{ form_widget(edit_form.file) }}
                        {{ form_errors(edit_form.file) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_widget(edit_form.semaines) }}
                        {{ form_label(edit_form.semaines) }}
                        {{ form_errors(edit_form.semaines) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(edit_form.formateur) }}
                        {{ form_widget(edit_form.formateur) }}
                        {{ form_errors(edit_form.formateur) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_widget(edit_form.langage) }}
                        {{ form_label(edit_form.langage) }}
                        {{ form_errors(edit_form.langage) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(edit_form.dateDebut) }}
                        {{ form_widget(edit_form.dateDebut) }}
                        {{ form_errors(edit_form.dateDebut) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_label(edit_form.dateFin) }}
                        {{ form_widget(edit_form.dateFin) }}
                        {{ form_errors(edit_form.dateFin) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(edit_form.module) }}
                        {{ form_label(edit_form.module) }}
                        {{ form_errors(edit_form.module) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(edit_form.eleve) }}
                        {{ form_label(edit_form.eleve) }}
                        {{ form_errors(edit_form.eleve) }}
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="checkbox">
                            <label>
                                {{ form_widget(edit_form.archive) }}
                                {{ form_label(edit_form.archive) }}
                            </label>
                            {{ form_errors(edit_form.archive) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-centre">
        <input class="btn btn-default edit_admin" type="submit" value="Valider" />
    </div>
    {{ form_end(edit_form) }}

    <ul>
        <li class="button-centre">
            <a class="btn btn-default edit_admin"  href="{{ path('promotion_index') }}">Liste des élèves</a>
        </li>
        <li class="button-centre">
            {{ form_start(delete_form) }}
            <input style="margin-top: 1%" class="btn btn-default edit_admin" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}




