{% extends 'base.html.twig' %}

{% block body %}
    <h1>Promotion list</h1>
    <div class="container">
        <div class="row">
            <div class="col s12">
                {% for promotion in promotions %}
                    <figure class="figpromo">
                        <img src="{{ asset('uploads/promotion/') }}{{ promotion.logo }}" alt="img" width="245" height="220" />
                        <figcaption>
                            <p>{{ promotion.titre }}</p>
                            <p>{{ promotion.semaines }}semaines</p>
                            <ul>
                                <li>
                                    <a href="{{ path('promotion_show', { 'id': promotion.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('promotion_edit', { 'id': promotion.id }) }}">edit</a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('promotion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
