{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Création d'une promotion</h1>

    {{ form_start(form) }}
        <div class="container">
            <div class="row">
                <div class="col m8 offset-m2">
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_label(form.titre) }}
                            {{ form_widget(form.titre) }}
                            {{ form_errors(form.titre) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label(form.file) }}
                            {{ form_widget(form.file) }}
                            {{ form_errors(form.file) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form_widget(form.semaines) }}
                            {{ form_errors(form.semaines) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label(form.formateur) }}
                            {{ form_widget(form.formateur) }}
                            {{ form_errors(form.formateur) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_widget(form.langage) }}
                            {{ form_label(form.langage) }}
                            {{ form_errors(form.langage) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form_widget(form.intervenant) }}
                            {{ form_label(form.intervenant) }}
                            {{ form_errors(form.intervenant) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label(form.dateDebut) }}
                            {{ form_widget(form.dateDebut) }}
                            {{ form_errors(form.dateDebut) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form_label(form.dateFin) }}
                            {{ form_widget(form.dateFin) }}
                            {{ form_errors(form.dateFin) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.module) }}
                            {{ form_label(form.module) }}
                            {{ form_errors(form.module) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.eleve) }}
                            {{ form_label(form.eleve) }}
                            {{ form_errors(form.eleve) }}
                        </div>
                    </div>
                    <div class="row-hidden">
                        <div class="input-field col s12">
                            {{ form_widget(form.archive) }}
                            {{ form_errors(form.archive) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-centre">
            <input class="btn btn-default edit_admin" type="submit" value="Créer" />
        </div>
    {{ form_end(form) }}

    <ul>
        <li class="button-centre">
            <a class="btn btn-default edit_admin" href="{{ path('promotion_index') }}">Retourner à la liste des promotions</a>
        </li>
    </ul>
{% endblock %}
