{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="col s12 m7">
        <h2 class="titre">{{ promotion.titre }}</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ asset('uploads/promotion/') }}{{ promotion.logo }}" alt="img" width="50" height="220" />
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Date de début : {{ promotion.dateDeb|date("d/m/Y") }}</p>
                    <p>Date de fin : {{ promotion.dateFin|date("d/m/Y") }}</p>
                    <p>Nombre de semaines : {{ promotion.semaines }}</p>
                    <p>Langage appris : {{ promotion.langage }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ path('promotion_edit', { 'id': promotion.id }) }}">Editer</a>
                    <a href="{{ path('promotion_index') }}">Retourner à la liste des formations</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {#<ul>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </ul>
{% endblock %}
